body {background-color: rgb(204, 194, 196);}
h1 {color :turquoise; }
     p {color:maroon; font-weight:300; font-style:normal}

     #second-paragraph {color:magenta; font-style:italic}
     #third-paragraph {color:midnightblue}
     .green-paras {color:green}
     .red-paras {color:red}
     
